.flag {
  background-repeat: no-repeat;
  display: inline-block;
  height: 11px;
  margin-right: 5px;
  width: 16px;

  &-DE {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -80px -33px;
  }

  &-ES {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -16px -44px;
  }

  &-FI {
    background-image:url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -64px -44px;
  }

  &-FR {
    background-image:url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -144px -44px;
  }

  &-IE {
    background-image:url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -80px -66px;
  }

  &-IL {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -96px -66px;
  }

  &-IT {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -208px -66px;
  }

  &-PL {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -32px -121px;
  }

  &-RO {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -192px -121px;
  }

  &-UK {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -176px -44px;
  }

  &-US {
    background-image: url(https://cdnsite1.assist.ro/cdn/farfuture/FTV0d850BlWILieMH8C6nUJXCOB05SkYFoCs-WV0s2k/mtime:1570610076/sites/all/themes/assist/img/flags.webp);
    background-position: -144px -154px;
  }
}
