.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 12px;

  @media only screen and (min-width: 767px) {
    justify-content: center;
  }

  li {
    list-style-type: none;
    margin: 0;
  }

  .page {
    background-color: var(--white);
    border: 1px solid var(--light-gray2);
    border-radius: 4px;
    color: var(--light-gray3);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin: 5px;
    min-width: 30px;
    padding: 4px 0 5px;
    text-align: center;

    &:hover {
      background: transparent;
      border-color: var(--blue-dark2);
      color: var(--blue-dark2);
    }

    &.active {
      background-color: var(--blue-dark2);
      border: 1px solid var(--blue-dark2);
      border-radius: 4px;
      color: var(--white);
    }
  }

  .page-item {
    cursor: pointer;
    background-repeat: no-repeat;
    border: 1px solid var(--light-gray2);
    border-radius: 4px;
    display: inline-block;
    line-height: 19px;
    margin: 5px;
    min-width: 30px;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .first {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12' fill='none'%3E%3Cpath d='M6 11L1 6L6 1' stroke='%231E4F9C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11L7 6L12 1' stroke='%231E4F9C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: 48% 50%;
    padding: 14px 19px;
  }

  .next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%231E4F9C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: 52% 50%;
    padding: 14px 10px;
  }

  .previous {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M6 11L1 6L6 1' stroke='%231E4F9C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: 48% 50%;
    padding: 14px 10px;
  }

  .last {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12' fill='none'%3E%3Cpath d='M7 1L12 6L7 11' stroke='%231E4F9C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L6 6L1 11' stroke='%231E4F9C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: 52% 50%;
    padding: 14px 19px;
  }
}
