.banner {
  background: url(https://cdnsite1.assist.ro/cdn/farfuture/of6bNrBFdoNBKs8Y7cyI5RToOyiZZ7cOIvUYgU4qIOE/mtime:1570545384/sites/all/themes/assist/img/backgrounds/headers/team.webp) no-repeat 50%;
  background-size: cover;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  text-align: center;
  width: 100%;

  @media only screen and (max-width: 992px) {
    height: auto;
    padding: 12% 0;
  }

  .title {
    @media only screen and (max-width: 767px) {
      font-size: 25px;
    }

    @media only screen and (max-width: 992px) {
      font-size: 30px;
    }
  }

  .subtitle {
    color: var(--blue-light);
    font-size: 24px;
    margin-top: 10px;

    @media only screen and (max-width: 480px) {
      font-size: 13px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 15px;
    }
  }
}
