@font-face { font-family: "Lato-Regular"; src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");}

:root {
  --lato-regular: "Lato-Regular";

  --white: #ffffff;
  --black: #000000;
  --dark: #333333;
  --blue-light: #AAB7C8;
  --blue-dark: #336799;
  --blue-dark2: #1E4F9C;
  --gray: #888888;
  --light-gray: #eeeeee;
  --light-gray2: #dddddd;
  --light-gray3: #838383;
  --light-gray4: #CBCBCB;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: var(--lato-regular), sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}
